	<br><br><br><br><br><br><br><br><br><br><br><br>
	<div class="container">
		<div class="jumbotron">
			<div class="row">
				<div class="col-sm-6 col-xs-12 col-md-4">
					Chi siamo:
					<ul>
						<li><a href="/">Come è nato Capsicum</a></li>
						<li><a href="/">Come contattarci</a></li>
						<li><a href="/">Dove trovarci</a></li>
					</ul>
				</div>
				<div class="col-sm-6 col-xs-12 col-md-4">
					Link utili:
					<ul>
						<li><a href="/register">Login / Registrazione</a></li>
						<li><a href="/cart">Carrello della spesa</a></li>
						<li><a href="/products">Lista prodotti</a></li>
						<li><a href="/">Termini e condizioni</a></li>
					</ul>
				</div>
				<div class="col-sm-6 col-xs-12 col-md-4">
					Bisogno di aiuto?
					<ul>
						<li><a href="/faq">Aiuto / FAQ</a></li>
						<li><a href="/">Costi e modalità di spedizone</a></li>
						<li><a href="/">Metodi di pagamento</a></li>
						<li><a href="/">Politica resi e rimborsi</a></li>
						<li><a href="/">Opportunità di lavoro</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>

	</body>
</html>