<% include partials/header %>

<!--	<div class="container">
		<h1>Register</h1>
		<form action="/register" method="POST">
			<input type="text" name="username" placeholder="Username">
			<input type="password" name="password" placeholder="Password">
			<input type="password" name="adminCode" placeholder="Admin Code">
			<button>Submit</button>		
		</form>
	</div>-->

<div class="login-dark">
		<h2 class="sr-only">Register Form</h2>
		<div class="illustration"><i class="fas fa-user-lock"></i></div>
		<div class="form-group"><a href="/login/google"><button class="btn btn-dark"><i class="fab fa-google">  Accedi con google</i></button></a></div>
		<p style="color: black">oppure</p>
	<form action="/login" method="POST">
		<!--<div class="form-group"><input class="form-control" type="email" name="email" placeholder="Email" /></div>-->
		<div class="form-group"><input class="form-control" type="text" name="username" placeholder="Username" /></div>
		<div class="form-group"><input class="form-control" type="password" name="password" placeholder="Password" /></div>
		<div class="form-group"><button class="btn btn-primary btn-block" type="submit">Registrati</button></div>
	</form>
</div>
	
<% include partials/footer %>