<% include ../partials/header %>

<div class="container">
	<header class="jumbotron">
		<div class="container">
			<h1>This is the products page</h1>
			<p>The best products of the known multiverse</p>
			<p>
				<a href="/products/new" class="btn btn-primary btn-lg">Add a new Product</a>
			</p>
		</div>
	</header>
	<section>
		<div class="row productRow">
			<% products.forEach(function(product){ %>
				<div class="col-md-3 col-sm-6">
					<!--<div class="thumbnail">-->
					<div class="card mb-4 box-shadow rounded-0">
						<img class="card-img-top w-100 d-block rounded-0" src="<%= product.image %>">
						<!--<div class="caption">-->
						<div class="card-body">
							<h4 class="card-title"><%= product.name %></h4>
							<p class="card-text"><%= product.description.substring(0,50) %>...</p>
						</div>
						<a class="btn btn-danger card-link" href="/products/<%= product._id %>">Visualizza</a>
					</div>	
				</div>
			<% }) %>
		</div>
	</section>
</div>








<% include ../partials/footer %>